<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GT5XWFJV12"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-GT5XWFJV12');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Ready Player Me styles and scripts -->
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <style>
        #modelviewer {
            height: 400px;
            width: 600px;
        }

    </style>
    <!-- End of Ready Player Me -->

    <title>One Page Wonder - Start Bootstrap Template</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
</head>

<body>
    <section id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container px-5">
                <a class="navbar-brand" href="{{ url_for('home') }}">Virtual Friends</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <!-- <li class="nav-item"><a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a></li> -->
                        <!-- <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Log In</a></li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container px-5">
                <h2 class="masthead-subheading mb-0">{{ character['name'] }}</h2>
<!--                <h2 class="masthead-subheading mb-0">Character Profile</h2>-->
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>


<style>
    .fixed-card {
        width: 600px;
        height: 200px;
        overflow-y: auto;  /* Makes the card scrollable if content overflows */
    }
</style>


<div class="container mt-5 mb-5">
    <div class="row">
        <!-- Model Viewer Section -->
        <div class="col-md-6 text-center">
            {% set model_id = character['rpm_url'].split('/')[-1] %}
            <model-viewer id="modelviewer" alt="Ready Player Me Avatar"
                src="https://api.readyplayer.me/v1/avatars/{{model_id}}" shadow-intensity="1" camera-controls
                touch-action="pan-y">
            </model-viewer>
        </div>

        <!-- Character's Details Section -->
        <div class="col-md-6 mt-4">
            <div class="card fixed-card">
                <div class="card-body">
                    <h5 class="card-title">{{ character['name'] }}</h5>
<!--                    <p class="card-text"><strong>Ready Player Me URL:</strong> {{ character['rpm_url'] }}</p>-->
<!--                    <p class="card-text"><strong>Character Greeting:</strong> {{ character['character_greeting'] }}</p>-->
                    <p class="card-text"><strong>Description: </strong> {{ character['character_description'] }}</p>
<!--                    <p class="card-text"> {{ character['character_description'] }}</p>-->
<!--                    <p class="card-text"><strong>Audio File:</strong> {{ character.get('audio_file_name', 'No audio file') }}</p>-->
                </div>
            </div>

            <div class="col-lg-6">
                <div class="p-5">
                     <a class="btn btn-dark btn-xl mt-5" href="{{ url_for('game', binary_index=0, character_id=character['character_id']) }}">Meet {{ character['name'] }}</a>

<!--                    <a class="btn  btn-dark btn-xl mt-5"  href="{{ url_for('game', BinaryIndex=0, publisher='idafaber', friend='jack') }}">Meet {{ character['name'] }}</a>-->
<!--                                <p>Yi is co-founder of the virtual friends team. Ask any question about the product, company and himself. </p>-->
                </div>
            </div>

        </div>
    </div>

              <div class="row mt-4">
                <!-- Text Box on the Left -->
                <div class="col-md-8">
                    <input type="text" class="form-control" id="sharableLink" value="{{ (request.url_root ~ 'character/' ~ character['character_id']) | replace('http:', 'https:') }}" readonly>
                </div>
                <!-- Copy Link Button on the Right -->
                <div class="col-md-4">
                    <button class="btn btn-primary" onclick="copyLinkToClipboard()">Copy Link And Share!</button>
                </div>
            </div>

</div>


    <script>
function copyLinkToClipboard() {
    const sharableLinkElement = document.getElementById('sharableLink');
    sharableLinkElement.select();
    document.execCommand('copy');
    alert("Link copied to clipboard!");
}
    </script>



    <!-- Footer-->
    <footer class="py-5 bg-black">
        <div class="container px-5">
            <p class="m-0 text-center text-white small">Copyright &copy; Virtual Friends 2023</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>
